.hour {
  height: 143px;
  margin: 130px auto 40px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.08);
  width: 1140px;
  padding: 20px 30px 27px;
  overflow: hidden;
}
.hour-title {
  font-size: 18px;
  color: #344665;
  height: 21px;
  line-height: 21px;
  margin-bottom: 22px;
  float: left;
  margin-right: 10px;
  font-weight: 400;
}
.hour-title::before {
  content: '';
  float: left;
  height: 7px;
  width: 7px;
  overflow: hidden;
  margin-right: 10px;
  background: #344665;
  border-radius: 50%;
  margin-top: 8px;
}
.hour-source {
  float: left;
  font-size: 12px;
  color: #8a9baf;
  height: 21px;
  line-height: 21px;
}
.hour-page-ctrl {
  float: right;
}
.hour-page-ctrl .btn {
  float: left;
  z-index: 2;
  width: 22px;
  height: 22px;
}
.hour-page-ctrl .button-prev {
  margin-right: 8px;
  background-image: url(../../assets/images/prev.png);
}
.hour-page-ctrl .button-next {
  background-image: url(../../assets/images/next.png);
}
.hour-weather {
  clear: both;
  width: 4800px;
  transition: margin 1s ease-in-out;
}
.hour-weather-table .item {
  float: left;
  width: 40px;
  margin-right: 60px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
}
.hour-weather-table .item-time {
  font-size: 14px;
  color: #8a9baf;
  line-height: 14px;
  height: 14px;
  margin-bottom: 24px;
}
.hour-weather-table .item-icon {
  display: block;
  height: 30px;
  width: 30px;
  margin: 0 auto;
  margin-bottom: 18px;
}
.hour-weather-table .item-degree {
  font-size: 18px;
  color: #384c78;
  line-height: 14px;
}
